
<h1 class=" text-center">About</h1>

<div class="text-center text-secondary">
    <p>This is my first attempt at an ASP.NET core application project. </p>
    <p>
        With this project I hope to demonstrate some knowledge using ASP.NET, the Identity framework,
        basic CRUD and LINQ operations, Microsoft MySQL and more.
    </p>
    <p>
        To view the ticketing system, go ahead and register. I have removed confirming email so you
        can use a fake email such as foo@gmail.com unless.
    </p>
</div>
