
<h1 class=" text-center">Contact</h1>

<div class="text-center text-secondary">
    <p>
        If you would like to know more about this project or if you have any tips for better practices please contact me below.
        Email:
        Github:
        Linkedin:

    </p>
</div>